﻿
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <!-- Eliminamos el link de Bootstrap para evitar conflictos con Tailwind -->
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["ejemplo.styles.css"]" />

    <!-- Agregamos los estilos de Font Awesome para los íconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Agregamos el script de Tailwind CSS para los estilos de la tienda -->
    <script src="https://cdn.tailwindcss.com"></script>

    <ImportMap />
    <link rel="icon" type="image/png" href="verduras.png" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode()" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>